@import (less) "./grid.css";
@import "variables.less";
@import "mixins.less";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import "nav.less";
@import "header.less";
@import "table.less";




body {
    .clean;
    background: @background-color;
    font-family: Roboto;
    color: #303030;
}

.container {
    background-color: white;
}

.viewport {
    margin: 0 auto;
}

.separation {
    background-color:  rgba(0, 0, 0, 0.1);
    height: 1px;
}
